<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/lightslider.css">
    <link rel="stylesheet" href="css/main.css">
    <title>URLAUBSGLÜCK</title>
    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>

</head>
<body>
  <div class="container-fluid site-header">
    <div class="main__container">
      <div class="site-header__reg">
        <a href="#">Log in</a>
        <a href="#" class="site-header__reg--sign-up">Sign up</a>
      </div>
      <h3>URLAUBSGLÜCK</h3>
      <h1>Share your <br>holiday dreams</h1>
      <p>And find the perfect partner <br> to fullfill it</p>
      <button class="btn-default">Find your holiday partner</button>
    </div>
  </div>

  <div class="main__container">
    <h3 class="cont__title">
      How Urlaubsglück works?
    </h3>
    <ul id="lightSlider_1">
      <li class="slider__item">
        <img src="img/step_1.png" alt="1">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 1</div>
          <div class="slider__content--title">Sed leo enim, condimentum</div>
          <div class="slider__content--text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
        </div>
      </li>
      <li class="slider__item">
        <img src="img/step_2.png" alt="2">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 2</div>
          <div class="slider__content--title">Morbi velit risus</div>
          <div class="slider__content--text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</div>
        </div>
      </li>
      <li class="slider__item">
        <img src="img/step_3.png" alt="3">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 3</div>
          <div class="slider__content--title">Sed leo enim, condimentum</div>
          <div class="slider__content--text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
        </div>
      </li>
    </ul>
    <div class="slider__gag"></div>

    <ul id="lightSlider_2">
      <li class="slider__item">
        <img src="img/step_2.png" alt="2">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 2</div>
          <div class="slider__content--title">Morbi velit risus</div>
          <div class="slider__content--text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</div>
        </div>
      </li>
      <li class="slider__item">
        <img src="img/step_3.png" alt="3">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 3</div>
          <div class="slider__content--title">Sed leo enim, condimentum</div>
          <div class="slider__content--text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
        </div>
      </li>
      <li class="slider__item">
        <img src="img/step_1.png" alt="1">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 1</div>
          <div class="slider__content--title">Sed leo enim, condimentum</div>
          <div class="slider__content--text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
        </div>
      </li>
    </ul>
    <div class="slider__gag"></div>

    <ul id="lightSlider_3">
      <li class="slider__item">
        <img src="img/step_3.png" alt="3">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 3</div>
          <div class="slider__content--title">Sed leo enim, condimentum</div>
          <div class="slider__content--text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
        </div>
      </li>
      <li class="slider__item">
        <img src="img/step_1.png" alt="1">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 1</div>
          <div class="slider__content--title">Sed leo enim, condimentum</div>
          <div class="slider__content--text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
        </div>
      </li>
      <li class="slider__item">
        <img src="img/step_2.png" alt="2">
        <div class="slider__content">
          <div class="slider__content--mark">STEP 2</div>
          <div class="slider__content--title">Morbi velit risus</div>
          <div class="slider__content--text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="main__container">
    <h3 class="cont__title">
      Meet a partner for your best holiday
    </h3>
    <ul class="partner__cont">
      <li class="partner__item">
        <a href="#">
          <div class="partner__img">
            <img src="img/partner1.png" alt="partner1">
            <div class="partner__img--sub partner__img--sub-1"></div>
          </div>
          <div class="partner__name">Bradley Hunter</div>
          <div class="partner__text">Based in Chicago. I love playing tennis and loud music.</div>
        </a>
      </li>

      <li class="partner__item">
        <a href="#">
          <div class="partner__img">
            <img src="img/partner2.png" alt="partner2">
            <div class="partner__img--sub partner__img--sub-2"></div>
          </div>
          <div class="partner__name">Lucas Marsha</div>
          <div class="partner__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</div>
        </a>
      </li>

      <li class="partner__item">
        <a href="#">
          <div class="partner__img">
            <img src="img/partner3.png" alt="partner3">
            <div class="partner__img--sub partner__img--sub-3"></div>
          </div>
          <div class="partner__name">Heather Walker</div>
          <div class="partner__text">I'm a happy person that loves cats and climbing on mountains.</div>
        </a>
      </li>

      <li class="partner__item">
        <a href="#">
          <div class="partner__img">
            <img src="img/partner4.png" alt="partner4">
            <div class="partner__img--sub partner__img--sub-4"></div>
          </div>
          <div class="partner__name">Bradley Hunter</div>
          <div class="partner__text">Based in Chicago. I love playing tennis and loud music.</div>
        </a>
      </li>
    </ul>
    <button class="partner__search">See other partners</button>
  </div>
  <div class="main__container">
    <h3 class="cont__title">
      Discover holiday activity ideas
    </h3>
    <div class="act__container" id ="act_cont">
    </div>
    <h3 class="cont__title">
      Discover holiday activity ideas
    </h3>
    <div class="act__sub">Hi! What are your holiday interests?</div>
    <form class="act__form">
      <input type="text" placeholder="Enter your interests">
      <button class="btn-default" id="search-btn">Search partners</button>
    </form>
  </div>

  <div class="main__underscore"></div>

  <div class="main__container">
    <div class="site-footer">
      <h3 class="site-footer__title">URLAUBSGLÜCK</h3>
      <ul class="site-footer__nav"><a class="site-footer__nav--title" href="#">Company</a>
        <li><a href="#">About</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
      <a href="" class="site-footer__nav--title">Partners</a>
      <div class="site-footer__logo">
        <span>DESIGNED BY</span>
        <a href="#">
          <img src="img/areto.png" alt="ARETO DEVELOPMENT">
        </a>
      </div>
    </div>
  </div>

  <script type=text/template id="masonry-template">
    <% for (var i=0; i < data.hits.length; i++) { %>
      <% var text = data.hits[i].tags; var tag = text.split(", "); %>
      <% if (i == 4 || i == 5) { %>
        <div class="masonry__cont masonry__cont-1 masonry__cont-2">
          <img src="<%= data.hits[i].webformatURL %>" alt="<%= data.hits[i].tags %>">
          <div class="masonry__text"><%= tag[0] %></div>
        </div>
        <% } else { %>
      <div class="masonry__cont masonry__cont-1">
        <img src="<%= data.hits[i].webformatURL %>" alt="<%= data.hits[i].tags %>">
        <div class="masonry__text"><%= tag[0] %></div>
      </div>
    <% }; }; %>
  </script>


</body>
</html>
